@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#loading h1 {
    font-size: 4vw;
    font-weight: 100;
    color: rgb(31, 31, 31);
    font-family: "Poppins", sans-serif;
}
#loading span {
    font-size: 2vw;
    font-weight: 100;
    color: rgb(31, 31, 31);
    font-family: "Poppins", sans-serif;
}
