@import url("./fonts/fonts.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nimbus Sans L";
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main {
    width: 100%;
    overflow: hidden;
}

#home {
    width: 100%;
}

.home-nav {
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw;
    position: relative;
}

.nav-l {
    display: flex;
    gap: 30px;
}
.nav-r {
    display: flex;
}

.home-nav a {
    font-size: 14px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.home-nav .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 16px;
}

#hero {
    width: 100%;
    margin-top: 12vw;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-l h2 {
    font-size: 2vw;
}
.hero-l h5 {
    font-size: 1vw;
}

.hero-l p {
    width: 10vw;
    font-size: 10px;
    margin: 10px 0;
    opacity: 0.9;
    line-height: 1;
    text-transform: uppercase;
}

.hero-l .hero-l-wrapper {
    width: 10vw;
    height: 15vw;
}

.hero-l-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-mid {
    width: 30vw;
    min-height: 42vw;
    position: relative;
    display: flex;
    justify-content: center;
}

.imgntext {
    width: 100%;
    height: 100%;
}

.hero-mid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-mid p {
    font-size: 1.5vw;
    letter-spacing: -0.5;
    width: 50%;
    font-weight: 100;
    margin-top: 20px;
}

.hero-headings {
    position: absolute;
    top: -15%;
    left: -20%;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.hero-mid h1 {
    letter-spacing: -0.4vw;
    line-height: 0.8;
    font-size: 6vw;
    font-weight: 100;
}

.hero-r {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#circlev {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: 1px solid #5e5e5e;
}

#circlev i {
    color: #5e5e5e;
}

.hero-r h3 {
    font-weight: 400;
    color: #5e5e5e;
}

#motive {
    margin-top: 7vw;
    padding: 3vw 10vw;
}

#motive h3 {
    font-size: 1.5vw;
    text-transform: uppercase;
    color: #494949;
    font-weight: 100;
    letter-spacing: -1px;
}

#motive .motive-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

#motive p {
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    align-items: center;
    line-height: 1.8;
    justify-content: end;
    flex-wrap: wrap;
    font-weight: 600;
}

#motive span {
    width: 4vw;
    height: 2.5vw;
    margin: 0 10px;
    background-color: #494949;
    border-radius: 100px;
    overflow: hidden;
    cursor: pointer;
}

#motive .span2 {
    display: inline-block;
    width: 7vw;
    height: 4vw;
    margin: 0 10px;
    background-color: #494949;
    border-radius: 100px;
    overflow: hidden;
}

#motive span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pictures {
    display: flex;
    justify-content: space-between;
    padding: 3vw 12vw 3vw 14vw;
    margin-top: 4vw;
    align-items: start;
}

#firstpic {
    width: 17vw;
}

#secpic {
    width: 23vw;
    text-align: end;
}

#firstpic #picimg {
    width: 100%;
    height: 27vw;
    margin-bottom: 1vw;
}

#picimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pictures h1 {
    letter-spacing: -0.1vw;
    font-weight: 100;
    font-size: 2vw;
}

#pictures p {
    opacity: 0.8;
    font-size: 14px;
    margin-top: 10px;
}

#secpic p {
    padding-left: 9vw;
}

#secpic #picimg {
    width: 100%;
    height: 38vw;
    margin-bottom: 1vw;
}

#banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 10vw 5vw 0;
    gap: 40px;
}

#bimg {
    width: 65vw;
    height: 60vh;
}

#bimg img {
    width: 100%;
    height: 100%;
    object-position: 0% 70%;
    object-fit: cover;
}

#btext {
    width: 35%;
    padding: 0 3vw;
}

#btext h1 {
    font-size: 2.8vw;
    font-weight: 400;
    letter-spacing: -0.15vw;
    line-height: 1;
}

#btext p {
    margin-top: 20px;
    width: 60%;
    font-size: 1vw;
}

#future {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

/* #future video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    width: 100%;
    height: 100%;
    opacity: 0;
} */

#future video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

#ftext {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

#ftext h1 {
    color: #1a1a1a;
    font-size: 1.5vw;
}

#ftext button {
    padding: 0.8vw 1.7vw;
    font-size: 0.6vw;
    font-weight: 600;
    border-radius: 100px;
    background-color: #fff;
    border: 1px solid #c6c6c6;
    color: #6f6f6f;
    text-transform: capitalize;
    margin-top: 10px;
    cursor: pointer;
}
